.page {

  &-content {
    position: relative;
    z-index: 10;
    height: 600px;

    & > ul {
      margin: 30px auto;
      width: 80%;
      height: 100%;
      border-radius: 10px;
      background-color: #ffffff;
    }
  }

  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #45eb6f83;
  }
}